/ https://github.com/blog/273-github-ribbons
#content
%a{:href => "https://github.com/ahcarpenter/referthisdemo"}
  %img{:alt => "Fork me on GitHub", :src => "https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", :style => "position: absolute; top: 0; right: 0; border: 0;"}/
  #referrallink
    = link_to t('titles.referral'), '', 'data-toggle' => 'modal', 'data-target' => '#referral'
  = render :partial => 'referral'
  #area
    #rates
      %i.icon-envelope
      #rate{'data-title'=>'Email clicked through rate'}
        = @email_clicked_through_rate.to_s + '%'
      %i.icon-comment-alt
      #rate1{'data-title'=>'SMS clicked through rate'}
        = @sms_clicked_through_rate.to_s + '%'
      %i.icon-inbox
      #rate2{'data-title'=>'Overall clicked through rate'}
        = @overall_clicked_through_rate.to_s + '%'